<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/show.css" />
    <title>Post in Detail</title>
</head>
<body>

    <h2>Here is Post in Detail</h2>
    <p class="id">Post id : <%=post.id%></p>
    <h3 class="user">User : @<%=post.username%> </h3>
    <div class="post">
        <p><%=post.content%></p>
    </div>
    
</body>
</html>