
  @import url('https://fonts.googleapis.com/css2?family=Lumanosimo&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Slab:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@1,500&family=Lumanosimo&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Slab:wght@700&display=swap');

  @import url('https://fonts.googleapis.com/css2?family=Karla:ital@1&family=Lora:ital,wght@1,500&family=Lumanosimo&family=Oswald:wght@500&family=Poppins:wght@300&family=Roboto+Slab:wght@700&display=swap');

  body{
    /* global 94%+ browsers support */
    background: linear-gradient(90deg, rgba(0, 255, 235, 1) 0%, rgba(7, 58, 187, 1) 100%);
}

h1 {
    color: maroon;
    font-family: oswald;
    margin-bottom: 5px;
    margin-left: 10px;
    font-size: 50px;
}


.post {
    background-color: #ECD5BB ;
  display: inline-block;
    /* top | right | bottom | left */
    margin: 15px 1em 0 0;
    height: 50vh;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 20px;
   

}

.post:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  /* Add some padding inside the card container */
  .post-div {
    padding: 2px 16px;
  }

.post a{
    text-decoration:none;
    color: #fff;
    
}
.post-div{
    display: flex;
    margin-top: 10em;
    
}
.post button{
    min-width: 130px;
    height: 40px;   
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
    margin-top: 10px;
    margin-bottom: 10px;
}

.user {
   margin-left: 6px;
    font-family: lora;
    text-transform:capitalize;
}
.content{
    font-family: karla;
    font-size: 1.5rem;
    margin-left: 5px;
}

.Delete {
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
    margin-top: 10px;
    margin-bottom: 10px;

}
/* 
.Delete:hover {
    background: #fff;
    color: #212529
} */


.create a{
    text-decoration:none;
    color: #fff;
    
}
.create{
    min-width: 130px;
    height: 40px;   
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 20px;
    border: 2px solid #212529;
    background: #212529;
    margin-top: 10px;
    margin-bottom: 10px;
}